
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.text-container {
  background-color: black;
  border-radius: 50px;
  opacity: 70%;
  width: 80vmin;
  height: 50vmin;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {

}

p {
  color:white
}